.contact-header-title {
  padding-left: 100px;
  color: white;
  font-weight: bolder;
}

.contact-header {
  width: 100%;
  background-color: lightsalmon;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.5rem;
}
