.posting {
  margin: auto;
  width: 980px;

  .posting_title {
    padding-bottom: 2rem;
  }

  .posting_header_title_container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    text-align: right;

    .search {
      width: 10%;
    }
  }

  .posting_header_title {
    width: 90%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    padding-left: 1rem;
    padding: 0.7rem;

    &:focus {
      border-radius: 4px;
      outline: none;
      border: 1px solid rgb(120, 176, 211);
    }
  }

  .posting_header_userInfo {
    display: inline-flex;
    justify-content: flex-end;

    .posting_userinfo_input {
      border: 1px solid rgb(223, 223, 223);
      padding: 0.3rem;
      border-radius: 4px;
      margin: 1rem;
      &:focus {
        border-radius: 4px;
        outline: none;
        border: 1px solid rgb(120, 176, 211);
      }
    }

    .posting_userInfo_id {
      margin-right: 1rem;
    }
    .posting_userInfo_pwd {
      width: 20rem;
    }
  }

  .ck-editor__editable {
    min-height: 50rem;
    max-height: 60rem;
  }

  .upload {
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;

    .upload_btn {
      padding: 0.5rem 1.5rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 5px;
      transition: 0.3s;
    }
    button:hover {
      background-color: black;
      color: white;
      outline: none;
    }

    button:active {
      outline: none;
    }

    button:focus {
      outline: none;
    }
  }
}

.posting_bottom {
  width: 100%;
  justify-content: flex-end;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}
