.header_place {
  height: 9rem;
}

.header_logo_a {
  text-decoration: none;
  color: black;
  align-self: center;
  &:hover {
    text-decoration: none;
    color: rgb(54, 54, 54);
    transition: 0.3s;
  }
}

.headerMain {
  display: inline-flex;
  flex-direction: row;
  // height: 100px;
  align-items: center;
  .h_title_top {
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }

  .logo_top {
    margin: 1rem;
    width: 50px;
    height: 50px;
  }
}

.h_container_top {
  position: fixed;
  background-color: white;
  top: 0;
  height: 120px;
  display: inline-flex;
  //overflow: hidden;
  width: 100%;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  // box-shadow: 9px 2px 9px 0px rgba(136, 136, 136, 1);
}

.h_container_down {
  position: fixed;
  background-color: white;
  top: 0;
  height: 80px;
  display: inline-flex;
  //overflow: hidden;
  width: 100%;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 9px 2px 9px 0px rgba(136, 136, 136, 1);
}

.h_title_down {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.logo_down {
  margin: 1rem;
  width: 40px;
  height: 40px;
}

.nav {
  width: 60%;
  z-index: 9999999;
  align-self: center;
  text-align: right;
  padding-right: 5%;
}

@media screen and (max-width: 1150px) {
  .nav {
    padding: 0;
  }
  .h_title_top {
    padding-left: 0;
  }
}
