nav {
  display: inline-flex;
  width: 600px;
  flex-direction: row;
  div {
    padding: 1rem;
    display: inline-flex;
    flex-direction: row;
  }

  h4 {
    color: rgb(105, 105, 105);
  }
  h4:hover {
    color: black;
    transition: 0.3s;
  }
}
