nav {
  display: inline-flex;
  width: 100%;
  flex-direction: row;

  div {
    padding: 1rem;
    display: inline-flex;
    flex-direction: row;
  }

  .responsive_nav {
    display: none;
  }

  .responsive_nav_content {
    display: none;
  }

  h4 {
    // font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    color: rgb(105, 105, 105);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  h4:hover {
    color: black;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bolder;
  }
}

@media screen and (max-width: 1150px) {
  nav {
    .default_nav {
      display: none;
    }

    .responsive_nav {
      display: block;
      padding-right: 20%;
      // font-size: 1rem;
      i:hover {
        cursor: pointer;
        color: gray;
        transition: 0.3s;
      }
    }

    .responsive_nav_content {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1000;
      width: 25%;
      //top: 10%;
      right: 5%;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 0 0 10px 10px;
      div {
        border-bottom: 1px solid rgb(219, 219, 219);
        display: flex;
        justify-content: center;
      }
    }

    .noShow {
      display: none;
    }
  }
  .h_title_top {
    padding-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .responsive_nav_content {
    width: 35% !important;
  }
}
