@import "../../../common/customScss";

.academyDetailLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.academyInfoTable {
  display: flex;
  margin-top: 15px !important;
  margin-bottom: 20px !important;

  width: 1000px !important;
  border-top: 4px solid #2f9cd5 !important;
  height: 200px !important;

  .academyInfoImg {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    justify-content: space-around !important;
    flex-direction: column !important;
    // border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
    .academyRate {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0px;
      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        .academyRateVallue {
          color: #2f9cd5;
          font-size: 2rem;
        }
        .academyRateMax {
          font-size: 1.6rem;
          color: #ffb400;
        }
      }
    }
  }
  .academyInfoColumn {
    padding: 0px !important;

    // border-right: 1px solid #cccccc !important;
  }
  .academyInfoRow {
    display: flex !important;
    justify-content: flex-start !important;
    border-bottom: 1px solid #cccccc !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 33.33% !important;

    .academyCellTitle {
      display: flex;
      width: 15% !important;
      border-right: 1px solid #cccccc !important;
      border-left: 1px solid #cccccc !important;
      padding: 10px !important;
      font-size: 1.1rem;
      font-weight: 600;
      align-items: center;
      color: #444444;
      background-color: #eaeaea;
    }
    .academyCellBody {
      display: flex;
      align-items: center;
      width: 85% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
    .academyCellSBody {
      display: flex;
      align-items: center;
      width: 35% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
  }
}

.academyReviewHeader {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  padding-left: 10px;
  margin-bottom: 15px;
  .academyReviewSelector {
    margin-left: 20px;
    width: 50% !important;
    display: flex !important;

    .menu .selected.item {
      width: 100% !important;
    }
  }
  .reviewHeaderTitle {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
  }
}

.academyReviewLayout {
  margin-bottom: 30px;
  padding: 15px;

  border: 1px solid #cccccc;
  width: 1000px;
  display: flex;
  flex-direction: column;

  .academyReviewTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;

    .academyReviewTitleInfo {
      display: flex;
    }

    .academyReviewClick {
      cursor: pointer;
    }

    .reviewHate {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      font-size: 1.1rem;
      color: #555555;
      font-weight: bold;
      .reviewHateValue {
        font-weight: 500;
        color: orangered;
      }
    }

    .academyReviewTitleValue {
      font-size: 1rem;
      font-weight: bold;
      color: #555555;
      padding: 0px 7px;
      border-right: 1px solid #eaeaea;
    }
  }
  .academyEduTitleValue {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3px 0px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #666666;
    margin-left: 5px;
  }
  .academyReviewBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 12px;

    .academyReviewBodyL {
      width: 20%;

      .reviewRating {
        display: flex;
        flex-direction: column;

        .allRate {
          margin-bottom: 30px;
          font-weight: bold;
          font-size: 1.2rem;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          p {
            margin: 0px 3px;
          }
          .allRateValue {
            margin-left: 15px;
            font-size: 2rem;
            color: #1da4e2;
          }
        }

        .reviewRatingItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          font-weight: bold;

          label {
            display: flex !important;
          }

          .reviewRatingBar {
            margin-top: -5px;
            color: #1da4e2;
          }
        }
      }
    }
    .academyReviewBodyR {
      width: 70%;
      .reviewTitle {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .academyReviewContent {
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 8px;
        min-height: 100px;
      }
      .reviewRecommand {
        color: blue;
      }
      .reviewUnrecommand {
        color: red;
      }
    }
  }
}

.academySelector {
  width: 70% !important;
  display: flex !important;
  margin-bottom: 15px;

  .menu .selected.item {
    width: 100% !important;
  }
}
