@import "../../../common/customScss";

.eduDetailLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eduInfoTable {
  display: flex;
  margin-top: 10px !important;
  margin-bottom: 0px !important;

  width: 1000px !important;
  border-top: 4px solid #2f9cd5 !important;
  height: 300px !important;

  .eduInfoImg {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    // border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
  }
  .eduInfoColumn {
    padding: 0px !important;

    // border-right: 1px solid #cccccc !important;
  }
  .eduInfoRow {
    display: flex !important;
    justify-content: flex-start !important;
    border-bottom: 1px solid #cccccc !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 20% !important;
    .eduCellTitle {
      display: flex;
      width: 15% !important;
      border-right: 1px solid #cccccc !important;
      border-left: 1px solid #cccccc !important;
      padding: 10px !important;
      font-size: 1.1rem;
      font-weight: 600;
      align-items: center;
      color: #444444;
      background-color: #eaeaea;
    }
    .eduCellBody {
      display: flex;
      align-items: center;
      width: 85% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
    .eduCellSBody {
      display: flex;
      align-items: center;
      width: 35% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
  }
}

.blue_btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .blue_btn_ {
    width: fit-content;
    border: none;
    padding: 1rem 6rem;
    border-radius: 10px;
    background-color: $blue;

    &:hover {
      transition: 0.3s;
      background-color: rgb(49, 115, 160);
      box-shadow: black 3px 3px;
    }

    &:focus {
      outline: none;
    }
  }
  h2 {
    color: white;
    font-size: 1.8rem;
  }
}

.eduReviewLayout {
  margin-bottom: 30px;
  padding: 15px;

  border: 1px solid #cccccc;
  width: 1000px;
  display: flex;
  flex-direction: column;

  .eduReviewHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

    .eduReviewHeadewValue {
      font-size: 1rem;
      font-weight: bold;
      color: #555555;
      padding: 0px 7px;
      border-right: 1px solid #eaeaea;
    }
  }
  .eduReviewBody {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    .eduReviewBodyL {
      width: 20%;

      .reviewRating {
        display: flex;
        flex-direction: column;

        .allRate {
          margin-bottom: 20px;
          font-weight: bold;
          margin-left: 5px;
          align-items: center;
          display: flex;
          flex-direction: row;
          .allRateValue {
            margin-left: 15px;
            font-size: 2rem;
            color: #2281da;
          }
        }

        .reviewRatingItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          font-weight: bold;

          .reviewRatingBar {
            margin-top: -5px;
          }
        }
      }
    }
    .eduReviewBodyR {
      width: 70%;
      margin-top: 10px;
      .eduReviewTitle {
        font-size: 1.6rem;
        font-weight: bold;
      }
      .eduReviewContent {
        font-size: 1.2rem;
        margin-top: 20px;
      }
    }
  }
}
