@import "../../../common/customScss";

.eduDetailLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eduInfoTable {
  display: flex;
  margin-top: 15px !important;
  margin-bottom: 0px !important;

  width: 1000px !important;
  border-top: 4px solid #2f9cd5 !important;
  height: 200px !important;

  .eduInfoImg {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    justify-content: space-around !important;
    flex-direction: column !important;
    // border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
    .eduRate {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0px;
      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        .eduRateVallue {
          color: #2f9cd5;
          font-size: 2rem;
        }
        .eduRateMax {
          font-size: 1.6rem;
          color: #ffb400;
        }
      }
    }
  }
  .eduInfoColumn {
    padding: 0px !important;

    // border-right: 1px solid #cccccc !important;
  }
  .eduInfoRow {
    display: flex !important;
    justify-content: flex-start !important;
    border-bottom: 1px solid #cccccc !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 33.33% !important;

    .eduCellTitle {
      display: flex;
      width: 15% !important;
      border-right: 1px solid #cccccc !important;
      border-left: 1px solid #cccccc !important;
      padding: 10px !important;
      font-size: 1.1rem;
      font-weight: 600;
      align-items: center;
      color: #444444;
      background-color: #eaeaea;
    }
    .eduCellBody {
      display: flex;
      align-items: center;
      width: 85% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
    .eduCellSBody {
      display: flex;
      align-items: center;
      width: 35% !important;
      padding: 10px !important;
      font-size: 1.1rem;
    }
  }
}
.addReview {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  margin-top: 35px;
}

.blue_btn {
  .blue_btn_ {
    width: fit-content;
    border: none;
    padding: 1rem 6rem;
    border-radius: 10px;
    background-color: $blue;

    &:hover {
      transition: 0.3s;
      background-color: rgb(49, 115, 160);
      box-shadow: black 3px 3px;
    }

    &:focus {
      outline: none;
    }
  }
  h2 {
    color: white;
    font-size: 1.8rem;
  }
}

.eduReviewHeader {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  padding-left: 10px;
  margin-bottom: 15px;
  .eduReviewSelector {
    margin-left: 20px;
    width: 35% !important;
    display: flex !important;

    .menu .selected.item {
      width: 100% !important;
    }
  }
  .reviewHeaderTitle {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
  }
}

.eduReviewLayout {
  margin-bottom: 30px;
  padding: 15px;

  border: 1px solid #cccccc;
  width: 1000px;
  display: flex;
  flex-direction: column;

  .eduReviewTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;

    .eduReviewTitleInfo {
      display: flex;
      align-items: center;
      .userIcon {
        border-radius: 100%;
        height: 28px;
      }
    }

    .eduReviewClick {
      cursor: pointer;
    }

    .reviewHate {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      font-size: 1.1rem;
      color: #555555;
      font-weight: bold;
      .reviewHateValue {
        font-weight: 500;
        color: orangered;
      }
    }

    .eduReviewTitleValue {
      font-size: 1.1rem;
      font-weight: bold;
      color: #555555;
      padding: 0px 7px;
      border-right: 1px solid #eaeaea;
    }
  }
  .eduReviewBody {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    .eduReviewBodyL {
      width: 20%;

      .reviewRating {
        display: flex;
        flex-direction: column;

        .allRate {
          margin-bottom: 30px;
          margin-top: 10px;
          font-weight: bold;
          font-size: 1.2rem;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          p {
            margin: 0px 3px;
          }
          .allRateValue {
            margin-left: 15px;
            font-size: 2rem;
            color: #1da4e2;
          }
        }

        .reviewRatingItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          font-weight: bold;

          label {
            display: flex !important;
          }

          .reviewRatingBar {
            margin-top: -5px;
            color: #1da4e2;
          }
        }
      }
    }
    .eduReviewBodyR {
      width: 70%;
      margin-top: 10px;
      .reviewTitle {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .eduReviewContent {
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 8px;
        min-height: 100px;
      }
      .reviewRecommand {
        color: blue;
      }
      .reviewUnrecommand {
        color: red;
      }
    }
  }
}

.addEduReviewHeader {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.addEduReviewTitle {
  display: flex !important;
  align-items: flex-start !important;
  width: 100% !important;
  .field {
    width: 100% !important;
    .ui {
      width: 100% !important;
      margin: 0px !important;
    }
  }
}

.addEduReviewBodyR {
  width: 70%;
  .eduReviewTitle {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .addEduReviewRecommand {
    font-size: 1rem;
    margin-top: 20px !important;
    .recommandTextArea {
      margin-bottom: 20px;
      margin-top: 8px;
    }
    .reviewRecommand {
      color: blue;
    }
    .reviewUnrecommand {
      color: red;
    }
  }
  .addReviewButton {
    display: flex;
    justify-content: flex-end;
  }
}

.eduSelector {
  width: 70% !important;
  display: flex !important;
  margin-bottom: 15px;

  .menu .selected.item {
    width: 100% !important;
  }
}
