.posting {
    margin: 3rem auto;
    width: 980px;

    .posting_header {
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .add_tag {
        width: 100%;
        display: flex;
        align-items: flex-end;

        .input {
            height: 3rem;
            width: 15rem;
        }

        .bt {
            margin-left: 1rem;
            height: 3rem;
            width: 6rem;
            padding: 10px;
        }
    }

    .tags {
        display: flex;      
        font-size: 1rem;
        margin: 20px 0 20px 0;   

        span {
            margin-right: 1rem;
        }
    }

    .upload {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
    }
}
