.freeboard_cate_container {
  display: flex;
  width: 15rem;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
}

.freeboard_cate_list {
  display: flex;
  flex-direction: column;
}

.cate_sec {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 10%;
  h5 {
    padding: 0.5rem;
    display: inline;
    font-size: 1rem;
  }
}

.ui.checkbox {
  padding-left: 1rem;
  padding-bottom: 0.4rem;

  label {
    width: 10rem;
  }
}
.freeboard_cate_title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}

@media (max-width: 1000px) {
  .freeboard_cate_container {
    width: fit-content;
    margin: auto;
    padding: 2rem;
    .freeboard_cate_list {
      padding-top: 0.5rem;
      width: fit-content;
      display: grid;
      grid-template: 2rem / auto auto auto;
    }
  }
}
