.payment_modal {
    
    .info_agree {
        display: flex;
        flex-direction: column;
        
        .item {
            margin: 0.5rem;
        }
    }
    
    .pg_list{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto auto;

        .field {
            label {
                width: 100%;
            }
        }
    }

    .payment_type {

        display: flex;
        flex-direction: column;

        p {
            font-weight: bold;
        }
        .item {
            height: 3rem;
            margin: 1rem;
            padding: 1rem;
            border-radius: 5px;
            background-color: #e8e8e8;
            font-size: 1rem !important;

            label {
                width: fit-content;
            }

        }
    }
    
    .point_amount {

        p {
            font-weight: bold;
        }

        .items {
            // display: flex;
            // flex-flow: row wrap;
            // display: flex;
            // flex-flow: wrap;
            display: grid;
            grid-template-columns: auto auto;
            
            // align-items: flex-start;
            .point_amount_item {
                
                // margin-right: 1.5rem;
                // margin : 0 !important; 
                // width: fit-content;
                // height: 3rem;
                font-size: 1em;
                display: flex;
                align-items: center;
                justify-content: left;
                margin: 0;
                padding: 0.5rem;
            }
        }
    }
    
    .what_is_point {
        font-weight: bold;
        color: #5555FF;
        font-size: 1.3rem;
    }
}

.total_amount {
    display: flex;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    p {
        color: #5555ff;
        margin-left: 1rem;
    }
}

.payment_type_confirm {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #888888;
    margin-left: 0.5rem;
}

.info_agree {
    margin-top: 1.3rem;
    .ui  {
        label {
            width: 100% !important;
        }
    }
}