* {
  padding: 0;
  margin: 0;
}

.Background_mid_container {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: -9999;
  overflow: hidden;
}

.back_mid {
  position: absolute;
  z-index: -999;
  animation: motion 1s linear 0s infinite alternate;
  margin-top: 0;
  -webkit-animation: motion 1s linear 0s infinite alternate;
  margin-top: 0;
}

.back_mid_yellow_cloud {
  width: 10rem;
  top: 40%;
  left: 2%;
  transform: rotate(-17deg);
}

.back_mid_red_semi {
  right: -4%;
  width: 14rem;
}

.back_mid_black_long {
  z-index: 1;
  right: 0;
  top: 15%;
  width: 0.5rem;
  height: 25rem;
  transform: rotate(-47deg);
}

.back_mid_navy_circle {
  position: absolute;
  left: -5%;
  top: 20%;
  z-index: -1;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  // opacity: 0.6;
  border: 5px solid rgb(27, 131, 62);
}

.count_ {
  position: absolute;
  left: -1%;
  top: 70%;
  font-size: 5rem;
  opacity: 0.4;
}

@media (max-width: 800px) {
  .back_mid_navy_circle {
    width: 10rem;
    height: 10rem;
  }

  .back_mid_yellow_cloud {
    width: 8rem;
    top: 35%;
  }

  .back_mid_red_semi {
    right: -4%;
    top: 30%;
    width: 10rem;
  }

  .und {
    right: 0;
    font-size: 2rem;
  }
}
