* {
  padding: 0;
  margin: 0;
}

.Background_search_container {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: -9999;
  background-color: rgb(214, 139, 25);
  overflow: hidden;
}

.back_search_blue_tri {
  width: 500px;
  top: 10%;
  left: 18%;
}

.back_search {
  position: absolute;
  z-index: -999;
  animation: motion 1s linear 0s infinite alternate;
  margin-top: 0;
  -webkit-animation: motion 1s linear 0s infinite alternate;
  margin-top: 0;
}

.back_search_red_long {
  width: 300px;
  top: 25%;
  left: 10%;
  position: absolute;
  opacity: 0.7;
}

.back_search_blue_circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid rgb(45, 116, 17);
  top: 50%;
  left: 36%;
}
