.freeboard_detail_container {
  overflow: hidden;
}

.freeboard_detail_nav {
  padding: 1rem;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .freeboard_nav_left {
    display: inline-flex;
    flex-direction: row;
  }

  .freeboard_nav_right {
    display: inline-flex;
    flex-direction: row;
  }

  h4 {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid lightgray;
    color: gray;
  }
  a {
    text-decoration: none;
    padding: 0 0.2rem;
  }
  a:hover {
    text-decoration: none;
    transition: 0.3s;
    h4 {
      background-color: rgb(241, 241, 241);
    }
  }
}

.content_meta {
  //   width: 30%;
  justify-content: space-between;
  display: inline-flex;
  flex-direction: row;
  padding-top: 1rem;
  align-items: center;
  h4 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  h5 {
    padding: 0 1rem;
    font-size: 1rem;
    margin: 0;
  }
}
.freeboard_detail_content_header {
  padding: 1rem 3rem 1rem 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.freeboard_detail_content_body {
  padding: 2rem;
  margin-bottom: 3rem;
}

.freeboard_detail_like-report {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  padding: 2rem;
  padding-top: 3rem;
  justify-content: center;
  border-radius: 15px;

  .freeboard_detail_like {
    h5 {
      //color: rgb(51, 122, 168);
      color: rgb(44, 150, 84);
    }
  }

  .freeboard_detail_report {
    h5 {
      color: rgb(192, 54, 54);
    }
  }

  .freeboard_detail_like_sec {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    margin: 0.5rem;
    h6 {
      color: rgb(77, 77, 77);
      padding: 0.5rem;
      margin: 0;
      border-radius: 100%;
      font-weight: bolder;
    }

    &:hover {
      cursor: pointer;
      box-shadow: rgb(141, 141, 141) 2px 3px;
      transition: 0.3s;
    }
  }

  .like_done {
    background-color: rgb(235, 255, 236);
  }

  .freeboard_detail_like_sec_icon h5 {
    display: flex;
    // padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    font-weight: bolder;
    font-size: 0.9rem;
    border-right: 1px solid lightgray;
    // background-color: red;
  }
}
.freeboard_detail_like_img {
  width: 1.2rem;
}

.freeboard_detail_report_img {
  width: 1.2rem;
}
