.addAnswerContainer {
    margin: 30px auto 10px;
    width: 67rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border: 1px dotted #616161;
    border-radius: 15px;
}

.detail_answer_editor {
    margin: 30px auto 100px;
    width: 67rem;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    
    p {
        font-size: 2.5rem;
        color: #616161;
    }

    .ck-editor__editable{
        height: 300px;
    }   

    .posting_answer {
        display: flex;
        justify-content: flex-end;
        margin : 2rem 0 10rem; 
    }
}

.addAnswerText {
    color: #616161;
    text-align: center;
    // padding-top: ;
    font-size: 1.5rem;
}

.plus_bt{
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    color: #45c5db;
}
