.comment{

    border-bottom: solid 0.5px #c8c8c8;
    // border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    // margin: 0.5rem 1rem;

    
    a:hover{text-decoration: none; color:black;}
    a:link{text-decoration: none; color:black;}
    a:visited{text-decoration: none; color:black;}

}

.comment_info {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    padding-left: 1rem;

    .comment_date {
        color: #a2a2a2;
        padding-left: 10px;
        font-weight: normal;
        font-size: 1.2rem;
    }

    .report {
        color: #a2a2a2;
        padding-left: 10px;
        font-weight: normal;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    .update {
        color: #a2a2a2;
        padding-left: 10px;
        font-weight: normal;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .delete {
        color: #a2a2a2;
        padding-left: 10px;
        font-weight: normal;
        font-size: 1.2rem;
        cursor: pointer;
    }
}


.comment_body {
    margin: 10px 0px 10px 10px;
    font-size: 1.3rem;
    text-align: left;
}

.bugboard_commentList {
    background-color: #F0FFFF;
}