.modal {
    left: auto !important;
    top: auto !important;
    height: fit-content !important;
    width: 50rem !important;
}

.report_modal {
    padding: 10px;
    span {
        margin-left: 1.5rem;
        color: #888888;
        font-size: small;
    }

    .category_title {
        margin: 1.2rem;
    }

    .category {
        margin: 2rem 1.2rem;
        display: flex;
        flex-flow: row wrap;
        // justify-content: ;
        .item {
            margin-right: 5rem !important;
            width: 15rem;
        }
    }

    .detail {
        display: flex;
        flex-direction: column;
    }
}