.Mainmid_wrap {
  position: relative;
  margin-bottom: 5rem;
}

.MainmidView_container {
  position: absolute;
  top: 0;
  padding: 5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .MainmidView_container_title {
    // position: absolute;
    // margin-bottom: 2rem;
    // left: 10%;
    // top: 3%;
    text-align: left;
    width: 100%;
    padding-bottom: 10%;
  }
}

.Mainmid_plan {
  width: 80%;
  // height: 80%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .Mainmid_plan_column {
    border: 1px solid lightgray;
    //position: relative;
    margin: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    &:hover {
      box-shadow: gray 5px 5px 5px;
      transform: scale(1.05);
      transition: 0.3s;
    }

    h1 {
      font-size: 1.7rem;
      padding: 0.5rem 0;
      text-align: center;
      font-weight: bolder;
      // background-color: lawngreen;
      border-radius: 10px 10px 0 0;
    }

    .plan_title {
      //position: absolute;
      width: 100%;
      top: 0;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;
      padding: 0.5rem;

      h1 {
        font-size: 1.7rem;
        text-align: center;
        font-weight: bolder;
        padding-left: 5px;
      }
    }

    .plan_premium_contents,
    .plan_basic_contents {
      //position: relative;
      //margin-top: 2rem;
      padding: 1rem;
      h3 {
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: lighter;
      }
    }
  }
}

.plan_basic_title {
  // padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 10px 10px 0 0;
  background-color: rgb(241, 187, 187);
}

.plan_premium_title {
  // padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 10px 10px 0 0;
  background-color: rgb(110, 177, 104);
}

@media (max-width: 800px) {
  .MainmidView_container {
    padding: 3rem;
    margin-bottom: 3rem;
  }
  .Mainmid_plan {
    flex-direction: column;
  }

  .Mainmid_plan .Mainmid_plan_column {
    width: 90%;
  }

  .plan_premium_contents {
    padding-top: 1.5rem;
  }

  .Mainmid_wrap {
    margin-bottom: 30%;
  }
}

@media (max-width: 500px) {
  .plan_premium_contents {
    h3 {
      font-size: 0.4rem;
    }
  }
}
