.freeboard_list_wrap {
  width: 100%;
  justify-content: right;
  .freeboard_list {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }
}

.freeboard_list_head {
  position: relative;
  width: 92%;
  height: 3rem;
  border-radius: 10px 10px 0 0;
  //   border: 1px solid lightgray;
  background-color: rgb(63, 153, 212);
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .freeboard_list_col {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .freeboard_list_head_title {
    position: absolute;
    left: 1%;
    width: 80%;

    .freeboard_list_post_num {
      width: 7%;
    }
    .freeboard_list_post_cate {
      width: 10%;
    }
    .freeboard_list_post_title {
      width: 70%;
    }
  }

  .freeboard_list_head_info {
    position: absolute;
    right: 5%;
    width: 11%;
    display: inline-flex;
    right: 1.5rem;
    justify-content: space-between;
  }
}
