.listLayout {
  display: flex;
  justify-content: center;
  width: 1380px !important;
}

.listItemBox {
  display: flex;
  justify-content: flex-start;
  margin-right: -25px;
  width: 750px !important;
}

.itemBox {
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 0.8rem;
  padding-right: 2rem;
  width: 750px;
  // justify-content: flex-start;
}

.listHeader {
}

.paging {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 750px !important;
  .qna {
    margin-top: 5px;
  }
}
