.listLayout {
  display: flex;
  justify-content: center;
}

.listItemBox {
  display: flex;
  justify-content: flex-start;
  margin-right: -25px;
  //width: 500px;
}

.itemBox {
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  // justify-content: flex-start;
}

// .listHeader {
// }

.paging {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 2rem;
  .qna {
    margin-top: 5px;
  }
}

.ui.grid > .row {
  place-content: center;
  div {
    width: 100%;
  }
}

.list_wrap {
  width: 95%;
}
