span {
  padding: 0px;
}

.list_item_label {
  //flex-grow: 1;
  //   min-width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid #8ebfff;
    border-radius: 7px;
    color: #3d91ff;
  }

  span {
    display: block;
    padding: 0;
  }
  .count {
    margin-top: 0px;
    font-size: 2.2rem;
    line-height: 1.3;
    //color: black;
  }
  .view {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1;
    color: rgb(88, 88, 88);
  }
}

.item-center {
  .inner {
    position: relative;
  }

  div.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.title {
    display: flex;
    font-size: 1.5rem;
    color: black;
    align-items: center;
    width: 100%;
  }

  .date {
    display: block;
    font-size: 1.1rem;
    color: rgb(88, 88, 88);
    .over_due {
      color: rgb(206, 53, 53);
      font-weight: 500;
    }
    .under_due {
      color: #3d91ff;
      font-weight: 500;
    }
  }
  .tab-box {
    display: flex;
    justify-content: space-between;

    .tag-box {
      margin-top: 15px;
    }
  }

  .tagFont {
    font-size: 15px;
  }

  .box-grade {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-top: 0px;

    .btn-grade {
      img {
        border-radius: 100%;
        width: 35px !important;
        height: 35px !important;
      }
    }

    .value {
      margin-left: 5px;
      margin-top: -2px;
      span {
        display: block;
      }
      a {
        color: black;
      }
      a:hover {
        text-decoration: none;
        color: black;
      }
      a:visited {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.item-right {
  position: relative;
  padding-right: 10px;
  margin-top: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .point {
    height: 75px;
    font-size: 2rem;
    display: flex;
    text-align: center;
    color: #519bfc;
    align-items: center;
    position: absolute;
    top: 3rem;

    .p {
      color: #6aa8ff;
      font-size: 2rem;
    }
  }

  .box-like {
    margin-top: 0px;
    position: absolute;
    top: -5px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .number {
      margin-left: 5px;
      font-size: 1.4rem;
    }
    img {
      width: 40px;
    }
  }
}

.date_premium {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
  .premium {
    align-items: center;
    margin: 0 1rem;
    height: fit-content;
    background-color: black;
    font-size: small;
    border-radius: 0.3rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    color: white;
  }
}
