.admin-side{
    border: 1px solid gray;
    margin: 20px;
    padding: 10px;
    font-size: 5rem;
    .header{
        background-color: olivedrab;
        color: white;
    }
    .list{
        padding:5px;
        
    }
}