.allchat{
    .allchat-header{
        height: 80px;
        width: 100%;
        line-height:80px;
        padding: 20px;
        padding-left: 200px;
        background-color: rgb(207, 224, 167);
    }
    .allchat-body{
        margin: 200px;
        height: 500px;
    }
}