.premium-chat {
    .premium-chat-header {
        height: 40px;
        width: 100%;
        padding: 8px;
        text-align: center;
        background-color: #f7c52a;
    }
    .premium-chat-body {

        
    }
}